.App {
  text-align: center;
}
.button-container {
  display: inline-flex;
  gap: 25%;
  height: fit-content;
  width: max-content;
  ;
}
.button-container-views {
  display: inline-flex;
  gap: 10%;
}

.pagination-container {
  display: inline-flex;
  gap: 10px;
  height: fit-content;
  width: max-content;
}
